@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio Crud de Produtos TrayCorp</h1>
    <p>@Html.ActionLink("Clique aqui para redirecionar para tela de produtos","Index","Produtos")</p>
</div>
